@font-face{
  font-family: 'Roboto regular';
  src: url("polices/Roboto/Roboto-Regular.ttf");
  src: url("polices/Roboto/roboto-regular.woff") format("woff"),
       url("polices/Roboto/roboto-regular.eot") format("eot"),
       url("polices/Roboto/roboto-regular.svg") format("svg");
  } 

  @font-face{
      font-family: 'Shrikhand';
      src: url('Shrikhand-Regular.ttf');
      src: url('/polices/Shrikhand/shrikhand-regular.woff') format("woff"),
           url("/polices/Shrikhand/shrikhand-regular.eot") format("eot"),
           url("/polices/Shrikhand/shrikhand-regular.svg") format("svg");
  }

p
 {
  font-family: 'Roboto regular';
}
h3
{
  font-family: 'Roboto regular'; 
  font-weight: bold;
  font-size : 40px; 
}
h1, h2, h4 
{
    font-family: 'Shrikhand';
}
header {
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: center;
    box-shadow: -0px 2px 10px grey;
    position: relative;

    img {
      width: 45%;
      margin: 20px; 
    }
  }
  .local {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#CFD8DC;
    .local-img {
      width: 20px;
    }
    .local-text {
      display: flex;
      margin-left: 20px;
      min-width: 150px;
    }
  }
}
.info {
  text-align: center;
}
.fonct {
  display: flex;
  justify-content: center;
  margin:0px; 
  padding: 0px; 
  align-items: center;
  align-items: center; 
  

  img {
    width: 20px;
    margin: 20px;
    height: 30px;
  }
  .fonct-text p {
    margin: 25px;
    font-weight: bold;
    font-family: Roboto;
  }
  .fonct-etape {
    width: 30px;
    height: 30px;
    background-color: #9356dc;
    position: relative;
    left: -15px;
    top: 20px;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 50%;

    p {
      position: absolute;
      top: -9px;

      color: white;
      font-size: 15px;
      left: 11px;
    }
  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; 
    border-radius: 15px;
    box-shadow: 2px 2px 15px grey;
  }
}
.rest {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  section {
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 10px grey;
    margin: 10px 3px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;

    .image-rest {
      background-size: cover;
      overflow: hidden;
      object-fit: cover;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      align-items: center;
      height: 200px;
      width: 400px;
      img {
        position: absolute;
        top: -50px;
      }
    }
    .text-rest {
      margin-bottom: 5px;
      margin-left: 20px;
      h1 {
        padding: 0px;
        margin: 15px 0px 0px 0px;
      }
      h4 {
        padding: 0px;
        margin: 5px 0px 0px 0px;
      }
    }
  }
  img {
    width: 100%;
    border: 1px solid black;
  }
}
footer
{
    background-color: #455A64; 
    img 
    {
        width: 15px; 
        height: auto; 
        margin-right: 10px; 
    }
}
