@font-face{
  font-family: 'Roboto regular';
  src: url("Roboto/Roboto-Regular.ttf");
  src: url("Roboto/roboto-regular.woff") format("woff"),
       url("Roboto/roboto-regular.eot") format("eot"),
       url("Roboto/roboto-regular.svg") format("svg");
  } 

  @font-face{
      font-family: 'Shrikhand';
      src: url('Shrikhand-Regular.ttf');
      src: url('Shrikhand/shrikhand-regular.woff') format("woff"),
           url("Shrikhand/shrikhand-regular.eot") format("eot"),
           url("Shrikhand/shrikhand-regular.svg") format("svg");
  }
$text: 'Roboto regular';
p
 {
  font-family: $text;
}
h3
{
  font-family: $text; 
  font-weight: bold;
  font-size : 40px; 
}
h1, h2, h4 
{
    font-family: $text;
}
header {
  display: flex;
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: center;
    
    position: relative;

    img {
      width: 45%;
      margin: 20px; 
    }
  }
  .local {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#CFD8DC;
    .local-img {
      width: 20px;
    }
    .local-text {
      display: flex;
      margin-left: 20px;
      min-width: 150px;
    }
  }
}
.info {
  display: flex; 
  flex-direction: column;
  text-align: center;
  background-color: #E6E6E6;
  padding-bottom: 100px; 
  .btn-expl
  {
    display: flex; 
    justify-content: center; 
    font-weight: bold;
    color: white;
    margin-top: 20px;  
    .btn-1
    {
      width: 200px;
      color: white;
      text-align:center; 
      background: linear-gradient(to bottom, #FF79DA, #9356DC);
      font-weight: bold;
      padding: 20px; 
      font-family: $text; 
      border-radius: 50px; 
      transform: scale(1);
      transition-property: transform;
      text-decoration: none;
    }
    &:link
    {
      color: white; 
      text-decoration: none;
    } 
    .btn-1:hover
    {
      color: white; 
      transform: scale(1.15); 
      transition-duration: 400ms;
      text-decoration:none; 
    }
  }
 
}
.fonct {
  display: flex;
  justify-content: center;
  margin:0px; 
  padding:0px; 
  align-items: center;

  .icon
  {
    display: flex; 
    width: 25px; 
    border: 1px solid black;
    justify-content: center;
  // i {
  //   color: grey; 
  //   font-size: 25px;
  // }
  // .fa-mobile-alt, .fa-store
  // {
  //   margin: 20px 20px 20px 20px;
  // }
  // .fa-list 
  // {
  //   margin: 20px 20px 20px 10px; 
  // }
}
  .fonct-text p {
    margin: 25px;
    font-weight: bold;
    font-family: Roboto;
  }
  .fonct-numb {
    width: 30px;
    height: 30px;
    background-color: #9356dc;
    position: relative;
    left: -20px;
    top: 20px;
    overflow: hidden;
    font-size: 0.8em;
    border-radius: 50%;

    p {
      position: absolute;
      top: -9px;
      color: white;
      font-size: 15px;
      left: 11px;
    }

  }
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
    width: 100%;
    margin-top: 20px; 
    border-radius: 15px;
    box-shadow: 2px 2px 15px grey;
    &:hover 
    {
      background-color: purple; 
      
    }
  }

}
.rest {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  section {
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 10px grey;
    margin: 10px 3px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;

    .image-rest {
      background-size: cover;
      overflow: hidden;
      object-fit: cover;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      align-items: center;
      height: 200px;
      width: 400px;
      img {
        position: absolute;
        top: -50px;
      }
    }
    .info-rest {
      display: flex; 
      align-items: center; 
      justify-content: space-evenly;
      .text-rest {
        display: flex;
        position: relative; 
        right: 40px; 
        flex-direction: column;  
        margin-bottom: 5px;
        margin-left: 20px;
        h1 {
          padding: 0px;
          margin: 15px 0px 0px 0px;
        }
        h4 {
          padding: 0px;
          margin: 5px 0px 0px 0px;
        }
      }
      .fav 
      {
        .far.fa-heart
        {  
          margin-right: 10px;
          font-size: 30px;
          position: relative; 
          left: 10px;  
           
          &:hover
          {                    
              color: red; 
              opacity: 1;
              font-weight: bold;
              cursor: pointer;
              transition: color 250ms; 
          
          }
      }
    }

  }
}
  img {
    width: 100%;
  }
  a
  {
    color: black;
  }
  a:link
  {
    color: black;
    text-decoration: none;

  }
  a:hover{
    color: black;
    text-decoration: none;
  }
}
footer
{
    font-family: $text;
    align-items: center;
    background-color: #455A64; 
    ul{list-style-type: none; align-items: center;}
    img 
    {
        width: 15px; 
        height: auto;  
    }
    a
    {
      color: white; 
      text-decoration: none;
      font-size: 15px; 
    }

}
