@font-face {
  font-family: Shrikhand regular;
  src: url("Shrikhand/shrikhand-regular.eot");
  src: url("Shrikhand/shrikhand-regular.svg") format("svg"), url("Shrikhand/shrikhand-regular.ttf") format("ttf"), url("Shrikhand/shrikhand-regluar.woff") format("woff"), url("Shrikhand/shrikhand-regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto regular';
  src: url("Roboto/roboto-regular.eot");
  src: url("Roboto/roboto-regular.svg") format("svg"), url("Roboto/roboto-regular.ttf") format("ttf"), url("Roboto/roboto-regular.woff") format("woff"), url("Roboto/roboto-regular.woff2") format("woff2");
}

h2 {
  font-family: Shrikhand regular;
}

p {
  font-family: "Roboto regular";
  font-size: 20px;
}

h2 {
  font-family: "Roboto regular";
  white-space: nowrap;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

header .loh {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

header a {
  margin-left: 10px;
  max-width: 100%;
  max-height: 100%;
}

header .return {
  margin-left: 10px;
  width: 30px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}

body {
  background-color: #ECEFF1;
}

.banniere img {
  position: static;
  width: 100%;
  height: 10%;
}

.le-menu {
  background-color: #F6F6F6;
  width: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  top: -60px;
}

.le-menu .sect {
  text-transform: uppercase;
}

.le-menu .sect .sou {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 4px;
}

.le-menu .favorit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: "Roboto regular";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.le-menu .favorit h1 {
  margin-left: 20px;
  font-family: Shrikhand regular;
}

.le-menu .favorit .fa-heart {
  width: 5%;
  height: 50%;
  margin-right: 20px;
  font-weight: bold;
}

.le-menu .favorit .fa-heart:hover {
  cursor: pointer;
}

.le-menu .favorit .fa-heart:hover::before {
  color: red;
  opacity: 1;
}

.le-menu .favorit::before {
  content: "\f004";
  color: red;
  opacity: 0;
  font-weight: bold;
  -webkit-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

@-webkit-keyframes fadeINUp {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeINUp {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.entree {
  -webkit-animation: fadeINUp 2s;
          animation: fadeINUp 2s;
}

.choix-1 {
  margin: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px gray;
          box-shadow: 2px 2px 10px gray;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.choix-1 h2 {
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 10px;
  width: auto;
}

.choix-1 .choix-1-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}

.choix-1 .choix-1-texte .c1 {
  width: auto;
  padding: 0px 0px 0px 0px;
}

.choix-1 .choix-1-texte .prix {
  width: auto;
  height: auto;
  margin: 0px;
  position: absolute;
  right: 30px;
  padding: 0px;
}

.btn-commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  font-weight: bold;
  font-size: 20px;
}

.btn-commander .btn {
  width: 200px;
  text-align: center;
  height: auto;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  font-family: "Roboto regular";
  border-radius: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  text-decoration: none;
}

.btn-commander:link {
  color: white;
  text-decoration: none;
}

.btn-commander .btn:hover {
  color: #99E2D0;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: #263238;
  padding-top: 5px;
}

footer ul {
  list-style-type: none;
}

footer p {
  color: white;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  border: 1px solid red;
}

footer p:link {
  color: white;
  text-decoration: none;
}

footer p:hover {
  color: white;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

footer h2 {
  margin-left: 20px;
  color: white;
}

footer img {
  width: 15px;
  height: auto;
  margin-right: 10px;
}
/*# sourceMappingURL=style1.css.map */