@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face
{
    font-family: Shrikhand regular;
    src: url('Shrikhand/shrikhand-regular.eot');
    src: url('Shrikhand/shrikhand-regular.svg') format('svg'),
         url('Shrikhand/shrikhand-regular.ttf') format('ttf'),
         url('Shrikhand/shrikhand-regluar.woff') format('woff'),
         url('Shrikhand/shrikhand-regular.woff2') format('woff2'); 
}
@font-face
{
    font-family: 'Roboto regular'; 
    src: url('Roboto/roboto-regular.eot');
    src: url('Roboto/roboto-regular.svg') format('svg'),
         url('Roboto/roboto-regular.ttf') format('ttf'),
         url('Roboto/roboto-regular.woff') format('woff'),
         url('Roboto/roboto-regular.woff2') format('woff2'); 
}
$text: 'Roboto regular'; 
h2 
{
    font-family: Shrikhand regular; 
}
p
{
    font-family: $text;
    font-size: 20px; 
}
h2
{
    font-family: $text;
    white-space: nowrap;
    overflow: hidden;
}
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    .loh{
        
        width: 200px;  
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 20px; 

    }
    a {
        margin-left: 10px; 
        max-width: 100%;
        max-height: 100%; 
    }
    .return
    { 
        margin-left: 10px; 
        width: 30px;
        height: auto; 
        max-width: 100%;
        max-height: 100%;
        margin-top:20px;

    }
}
body{
    background-color: #ECEFF1;
}
.banniere img
{
    position: static;
    width: 100%;
    height: 10%; 
}
.le-menu
{
    background-color: #F6F6F6; 
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    top: -60px; 
    
    .sect
    {
        text-transform: uppercase; 
        .sou
        {
            border-bottom: 4px solid #99E2D0;
            padding-bottom: 4px;
        }
    }

    .favorit
    {
        display: flex; 
        color: black; 
        font-family: $text;
        align-items: center;
        justify-content: space-around;
        h1
        {
            margin-left: 20px; 
            font-family: Shrikhand regular;
        }

        .far.fa-heart
        { 
            font-size: 70px; 
            width: 100px;
            height: 50%; 
            margin-right: 20px;
            &:hover
            {                    
                color: red;
                font-weight: bold; 
                opacity: 1;
                cursor: pointer;
                transition: color 400ms; 
            
            }
        }


    }

}
@keyframes fadeINUp {
    from {
        transform: translateY(100px);
        opacity: 0; 
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes rotation {
    from {
        transform: rotate(360deg);  
    }
    to {
        transform: rotate(0deg); 
    }
}

.choix-1
{ 
    
    margin: 10px;
    position: relative;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    align-items: left;
    // animation: fadeINUp 2s;
    // test de transition pour le bouton validation. 
    &:before {
        content: "\f058";
        transform: translateX(100px);
        color: white; 
        font-size: 50px; 
        opacity: 0; 
        font-family: FontAwesome;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; 
        height: 100%;
        transition: all 0.2s linear 0s;
      }
  &:hover {
    .prix {
        text-indent: -110px;
    }
    .c1 {
        border: 1px solid black;
        overflow: hidden;
    }
    
    &::before {
        opacity: 1; 
        text-indent: 0px;
        right: 0;
        background-color: greenyellow; 
        transform: translateX(0px);
    }
  }

    // fin du test 

    h2 
    {
        padding: 10px 0px 0px 0px;
        margin: 0px 0px 0px 10px; 
        width: auto;
          
    }
    .choix-1-texte
    {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        margin: 0px 0px 0px 10px;
        padding: 0px; 
        
        .c1
        {

            width: auto;
            padding: 0px 0px 0px 0px;
                        
        }
        .prix{
            width: auto;
            height: auto; 
            margin: 0px; 
            position: absolute;
            right: 30px;
            padding: 0px;
        }
    }
}
.btn-commander
{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-weight: bold;
    font-size: 20px; 
    
 
    .btn {
         
        width: 200px; 
        text-align:center;
        height: auto; 
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        font-weight: bold;
        padding: 20px;
        margin-top: 50px;   
        font-family: $text;
        border-radius: 50px;  
        transform: scale(1);
        transition-property: transform;  
        text-decoration: none;
    }

    &:link
    {
        color: white; 
        text-decoration: none;
    }
    .btn:hover 
    {
        color: #99E2D0;
        transform: scale(1.15);
        transition-duration: 400ms;
    }
}
footer
{
    display: flex; 
    flex-direction: column; 
    align-items: left;
    background-color: #263238;
    padding-top: 5px; 
    ul 
    {
        list-style-type: none;
    }
    p
    {
        color: white; 
        text-decoration: none;
        transform: scale(1);
        transition-property: transform; 
        border: 1px solid red; 
    }
    p:link
    {
        color: white; 
        text-decoration: none; 
    }
    p:hover
    {
        color:white; 
        transform: scale(1.15);
        transition-duration: 200ms;
    }
    h2 
    {
        margin-left: 20px;

        color: white; 

    } 
    img 
    {
        width: 15px; 
        height: auto; 
        margin-right: 10px; 
    }
}