@font-face {
  font-family: 'Roboto regular';
  src: url("Roboto/Roboto-Regular.ttf");
  src: url("Roboto/roboto-regular.woff") format("woff"), url("Roboto/roboto-regular.eot") format("eot"), url("Roboto/roboto-regular.svg") format("svg");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("Shrikhand-Regular.ttf");
  src: url("Shrikhand/shrikhand-regular.woff") format("woff"), url("Shrikhand/shrikhand-regular.eot") format("eot"), url("Shrikhand/shrikhand-regular.svg") format("svg");
}

p {
  font-family: "Roboto regular";
}

h3 {
  font-family: "Roboto regular";
  font-weight: bold;
  font-size: 40px;
}

h1, h2, h4 {
  font-family: "Roboto regular";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .logo img {
  width: 45%;
  margin: 20px;
}

header .local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CFD8DC;
}

header .local .local-img {
  width: 20px;
}

header .local .local-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  min-width: 150px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #E6E6E6;
  padding-bottom: 100px;
}

.info .btn-expl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.info .btn-expl .btn-1 {
  width: 200px;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: bold;
  padding: 20px;
  font-family: "Roboto regular";
  border-radius: 50px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  text-decoration: none;
}

.info .btn-expl:link {
  color: white;
  text-decoration: none;
}

.info .btn-expl .btn-1:hover {
  color: white;
  opacity: 0.85;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  text-decoration: none;
}

.fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonct i {
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
}

.fonct .chois, .fonct .composed, .fonct .degust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 2px 2px 15px grey;
          box-shadow: 2px 2px 15px grey;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 10px;
}

.fonct .chois .fonct-number, .fonct .composed .fonct-number, .fonct .degust .fonct-number {
  width: 30px;
  height: 30px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  background-color: #9356dc;
  position: relative;
  left: -15px;
  overflow: hidden;
}

.fonct .chois .fonct-number p, .fonct .composed .fonct-number p, .fonct .degust .fonct-number p {
  position: relative;
  top: -7px;
  left: 12px;
}

.fonct .chois .icon, .fonct .composed .icon, .fonct .degust .icon {
  width: 30px;
  font-size: 25px;
  color: grey;
  margin: 20px;
}

.fonct .chois .fonct-text, .fonct .composed .fonct-text, .fonct .degust .fonct-text {
  font-weight: bold;
}

.fonct .chois:hover, .fonct .composed:hover, .fonct .degust:hover {
  background-color: #F5EDFF;
}

.fonct .chois:hover i, .fonct .composed:hover i, .fonct .degust:hover i {
  color: #9356DC;
}

.fonct .degust {
  margin-bottom: 100px;
}

.rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rest section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
  margin: 10px 3px 10px 10px;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
}

.rest section .image-rest {
  background-size: cover;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 400px;
}

.rest section .image-rest img {
  position: absolute;
  top: -50px;
}

.rest section .info-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rest section .info-rest .text-rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
  margin-left: 20px;
}

.rest section .info-rest .text-rest h1 {
  padding: 0px;
  margin: 15px 0px 0px 0px;
}

.rest section .info-rest .text-rest h4 {
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.rest section .info-rest .fav .far.fa-heart {
  margin-right: 10px;
  font-size: 30px;
  position: relative;
  left: 10px;
}

.rest section .info-rest .fav .far.fa-heart:hover {
  color: red;
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.rest img {
  width: 100%;
}

.rest a {
  color: black;
}

.rest a:link {
  color: black;
  text-decoration: none;
}

.rest a:hover {
  color: black;
  text-decoration: none;
}

footer {
  font-family: "Roboto regular";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #455A64;
}

footer ul {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  width: 15px;
  height: auto;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */