#lien
{
    display: flex;
    flex-direction: column; 
    align-items: center;
} 
footer img{
    width: 30px;
    height: auto;
    margin-right: 20px;
}
footer
{
    background-color: #455A64;
}
#restaurant 
{
    margin: auto; 
}

.image-rest img
{
    width: 400px;
    height: auto; 
}


#local img
{
    width: 10px;
    height: auto; 
    margin: auto;
    
    
}
#local
{
    display:flex; 
    flex-direction: row;
    background-color: #CFD8DC;
    text-align: center;
}
#Info h3
{
    font-size: 45px;
}
#Info
{
    text-align: center;
    background-color: #ECEFF1;
    
}
#fonctionnement li
{
    display: flex; 
    margin-bottom: 20px; 
}
#fonctionnement img 
{
    width: 30px; 
    height: auto;
}
ul
{
    list-style-type: none;
}